alembic==0.8.7
arrow==0.8.0
boto3==1.4.0
botocore==1.4.43
click==6.6
docutils==0.12
Flask==0.11.1
Flask-Migrate==2.0.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
futures==3.0.5
GDAL==1.11.1
gitdb==0.6.4
GitPython==1.0.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
lxml==3.6.1
Mako==1.0.4
MarkupSafe==0.23
https://github.com/MITLibraries/ogre-toolkit/zipball/v0.2.1
psycopg2==2.6.2
pymarc==3.1.5
pysolr==3.5.0
python-dateutil==2.5.3
python-editor==1.0.1
PyYAML==3.11
redis==2.10.5
requests==2.11.0
rq==0.6.0
rq-dashboard==0.3.7
s3transfer==0.1.1
six==1.10.0
smmap==0.9.0
SQLAlchemy==1.0.14
Werkzeug==0.11.10
